**~
**#
cache
__pycache__/
données_inutiles
.ipynb_*
tests
tmp/**
!tmp/
log
site_velo/dijk/tmp/**
site_velo/dijk/templates/dijk/iti_folium.html
site_velo/dijk/templates/dijk/iti_folium.html
site_velo/dijk/templates/dijk/cycla.html
site_velo/dijk/templates/dijk/résultat_itinéraire_complet*
site_velo/site_velo/settings.py
**/iti_folium.html
**/cycla.html
**.log
site_velo/dijk/données/Pau/Cyclabilité.csv
site_velo/dijk/données/Pau/cache_adresses.csv
site_velo/dijk/données/Pau/sauv**