nav{
    border:10px solid #6d6d6d;
    margin-top:5px;
    margin-bottom:10px;
    margin-right:5px;
    margin-left:5px;
    float:center
}
aside{
    width:10%;
    float:right;
    margin-left:10px;
}
.carte{
    border:1px solid #6d6d6d;
    width: 70.0%;
    height: 50.0%;
    float:right   
}
carte{
    border:1px solid #6d6d6d;
    width: 70.0%;
    height: 50.0%;
    float:right   
}
