    {% extends "base.html" %}
    
    {% block contenu %}
    <form action = "{% url 'itinéraire' %}" method="post">
      {% csrf_token %}
      <label for="départ">Départ : </label><br>
      <input type="text" id="départ" name="départ"><br><br>

      <label for="arrivée"> Arrivée : </label><br>
      <input type="text" id="arrivée" name="arrivée"><br><br>

      <label for="pourcentage_détour"> Pourcentage détour (On peut rentrer plusieurs valeurs séparées par des points-virgules, auquel cas plusieurs chemins seront affichés) : </label><br>
      <input type="text" id="pourcentage_détour" name="pourcentage_détour" value = "0;20;40"><br><br>


      <input type="submit" value="C’est parti!">
    </form>

	{% endblock %}
