<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f12b79b5b1044e0bb4bc295ed4e0bf48 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f12b79b5b1044e0bb4bc295ed4e0bf48" ></div>
        
</body>
<script>    
    
            var map_f12b79b5b1044e0bb4bc295ed4e0bf48 = L.map(
                "map_f12b79b5b1044e0bb4bc295ed4e0bf48",
                {
                    center: [43.29680660446086, -0.36900678309715423],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9c8242a3fb864f66b5d9b2783e2d0242 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
            var poly_line_77dbd44fc8dc418ca8d59cd4565541b2 = L.polyline(
                [[43.2963141, -0.3682749], [43.296309, -0.3684267]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_abbae8c000b348c68c5e70cc234d5006 = L.popup({"maxWidth": "100%"});

        
            var html_6406e0e6f00b4315918305f1e5004040 = $(`<div id="html_6406e0e6f00b4315918305f1e5004040" style="width: 100.0%; height: 100.0%;">"Rue du Mar\u00e9chal Foch"</div>`)[0];
            popup_abbae8c000b348c68c5e70cc234d5006.setContent(html_6406e0e6f00b4315918305f1e5004040);
        

        poly_line_77dbd44fc8dc418ca8d59cd4565541b2.bindPopup(popup_abbae8c000b348c68c5e70cc234d5006)
        ;

        
    
    
            var poly_line_1905d5be90f74c9d9781f5cd94eb0546 = L.polyline(
                [[43.2954419, -0.3679269], [43.2956015, -0.3679819], [43.296058, -0.3681643], [43.2963141, -0.3682749]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_7ac08d869c324a249ef235fd3595e3b2 = L.popup({"maxWidth": "100%"});

        
            var html_47ae0b5e2d70449fb872e4f0c4df9d20 = $(`<div id="html_47ae0b5e2d70449fb872e4f0c4df9d20" style="width: 100.0%; height: 100.0%;">"Place Georges Clemenceau"</div>`)[0];
            popup_7ac08d869c324a249ef235fd3595e3b2.setContent(html_47ae0b5e2d70449fb872e4f0c4df9d20);
        

        poly_line_1905d5be90f74c9d9781f5cd94eb0546.bindPopup(popup_7ac08d869c324a249ef235fd3595e3b2)
        ;

        
    
    
            var poly_line_d270c8cb578f46d986723e7d0c74cf9c = L.polyline(
                [[43.2949358, -0.3676679], [43.2954419, -0.3679269]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_41c1fdaccd7946c9920263f05c392add = L.popup({"maxWidth": "100%"});

        
            var html_6f7b13ae10bb4ad187527ce6bc1fa963 = $(`<div id="html_6f7b13ae10bb4ad187527ce6bc1fa963" style="width: 100.0%; height: 100.0%;">NaN</div>`)[0];
            popup_41c1fdaccd7946c9920263f05c392add.setContent(html_6f7b13ae10bb4ad187527ce6bc1fa963);
        

        poly_line_d270c8cb578f46d986723e7d0c74cf9c.bindPopup(popup_41c1fdaccd7946c9920263f05c392add)
        ;

        
    
    
            var poly_line_83a381631ffc470681a092bc9839be07 = L.polyline(
                [[43.296309, -0.3684267], [43.2972415, -0.3693318]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_85f0c602e3f5425bb5301334c8c111bc = L.popup({"maxWidth": "100%"});

        
            var html_9f6f4f3e1b6045b494034746f0535c53 = $(`<div id="html_9f6f4f3e1b6045b494034746f0535c53" style="width: 100.0%; height: 100.0%;">"Rue Serviez"</div>`)[0];
            popup_85f0c602e3f5425bb5301334c8c111bc.setContent(html_9f6f4f3e1b6045b494034746f0535c53);
        

        poly_line_83a381631ffc470681a092bc9839be07.bindPopup(popup_85f0c602e3f5425bb5301334c8c111bc)
        ;

        
    
    
            var poly_line_e9f342ffcfea4f38b8b0ca4b9f988807 = L.polyline(
                [[43.2946707, -0.3676277], [43.2947287, -0.3675678], [43.2949022, -0.3676529], [43.2949358, -0.3676679]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_bffab761e17a4fabad84ad3cedf0f4dc = L.popup({"maxWidth": "100%"});

        
            var html_a0ad3ed3ec3041bd9de212cb1661b976 = $(`<div id="html_a0ad3ed3ec3041bd9de212cb1661b976" style="width: 100.0%; height: 100.0%;">NaN</div>`)[0];
            popup_bffab761e17a4fabad84ad3cedf0f4dc.setContent(html_a0ad3ed3ec3041bd9de212cb1661b976);
        

        poly_line_e9f342ffcfea4f38b8b0ca4b9f988807.bindPopup(popup_bffab761e17a4fabad84ad3cedf0f4dc)
        ;

        
    
    
            var poly_line_3e393db6474d4d75bdd84466ef12005d = L.polyline(
                [[43.2972415, -0.3693318], [43.2976961, -0.369773], [43.2977469, -0.3698221], [43.2980646, -0.3701304]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_6079c3cfa3794c73b721b1e1c01460d5 = L.popup({"maxWidth": "100%"});

        
            var html_133450afa9eb4ee2b28433ff4b0358fe = $(`<div id="html_133450afa9eb4ee2b28433ff4b0358fe" style="width: 100.0%; height: 100.0%;">"Rue Serviez"</div>`)[0];
            popup_6079c3cfa3794c73b721b1e1c01460d5.setContent(html_133450afa9eb4ee2b28433ff4b0358fe);
        

        poly_line_3e393db6474d4d75bdd84466ef12005d.bindPopup(popup_6079c3cfa3794c73b721b1e1c01460d5)
        ;

        
    
    
            var poly_line_b29969adc03f42d9a4916a2a69396f62 = L.polyline(
                [[43.2985893, -0.3706249], [43.2984854, -0.3704406]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_f5c30cb4ab30410cb6c899be82e30854 = L.popup({"maxWidth": "100%"});

        
            var html_946a1326ab0c4349bdfc5161cdcae869 = $(`<div id="html_946a1326ab0c4349bdfc5161cdcae869" style="width: 100.0%; height: 100.0%;">"Rue Montpensier"</div>`)[0];
            popup_f5c30cb4ab30410cb6c899be82e30854.setContent(html_946a1326ab0c4349bdfc5161cdcae869);
        

        poly_line_b29969adc03f42d9a4916a2a69396f62.bindPopup(popup_f5c30cb4ab30410cb6c899be82e30854)
        ;

        
    
    
            var poly_line_7d82f42b20a14e61ac46089a1fb3aa3f = L.polyline(
                [[43.2984165, -0.370472], [43.2984854, -0.3704406]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_43ca583412f44320be4b68eae38fbba1 = L.popup({"maxWidth": "100%"});

        
            var html_260f2c6260244e82a1cbc49a1efdde54 = $(`<div id="html_260f2c6260244e82a1cbc49a1efdde54" style="width: 100.0%; height: 100.0%;">NaN</div>`)[0];
            popup_43ca583412f44320be4b68eae38fbba1.setContent(html_260f2c6260244e82a1cbc49a1efdde54);
        

        poly_line_7d82f42b20a14e61ac46089a1fb3aa3f.bindPopup(popup_43ca583412f44320be4b68eae38fbba1)
        ;

        
    
    
            var poly_line_c245ae41c9ec45d9aeac7eb5c7da46d9 = L.polyline(
                [[43.2944047, -0.3675571], [43.2945433, -0.3675813], [43.2946707, -0.3676277]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_6e88887e5add4d39b29a26382ed6e27a = L.popup({"maxWidth": "100%"});

        
            var html_90ee8598dfec44cf8d98926d473acde1 = $(`<div id="html_90ee8598dfec44cf8d98926d473acde1" style="width: 100.0%; height: 100.0%;">"Rue Gachet"</div>`)[0];
            popup_6e88887e5add4d39b29a26382ed6e27a.setContent(html_90ee8598dfec44cf8d98926d473acde1);
        

        poly_line_c245ae41c9ec45d9aeac7eb5c7da46d9.bindPopup(popup_6e88887e5add4d39b29a26382ed6e27a)
        ;

        
    
    
            var poly_line_cf31f0a1b1834f37bc9d96772af71ea6 = L.polyline(
                [[43.2989963, -0.3703437], [43.2988911, -0.3704221], [43.2986733, -0.3705201], [43.298653, -0.3705454], [43.2985893, -0.3706249]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_62d78bd339204f4ebc3eba60a3c0ccd5 = L.popup({"maxWidth": "100%"});

        
            var html_0aeaee4a984e4352ad0b14f5bbbd4698 = $(`<div id="html_0aeaee4a984e4352ad0b14f5bbbd4698" style="width: 100.0%; height: 100.0%;">"Rue Carnot"</div>`)[0];
            popup_62d78bd339204f4ebc3eba60a3c0ccd5.setContent(html_0aeaee4a984e4352ad0b14f5bbbd4698);
        

        poly_line_cf31f0a1b1834f37bc9d96772af71ea6.bindPopup(popup_62d78bd339204f4ebc3eba60a3c0ccd5)
        ;

        
    
    
            var poly_line_d2ea862f722849b7a24ca84bca4251c1 = L.polyline(
                [[43.2984165, -0.370472], [43.2983483, -0.3704037]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_fd2ec2806bfb4b63806deda1be82a133 = L.popup({"maxWidth": "100%"});

        
            var html_6d62bc18d6e340229cf8cb721f38a4a8 = $(`<div id="html_6d62bc18d6e340229cf8cb721f38a4a8" style="width: 100.0%; height: 100.0%;">"Rue Serviez"</div>`)[0];
            popup_fd2ec2806bfb4b63806deda1be82a133.setContent(html_6d62bc18d6e340229cf8cb721f38a4a8);
        

        poly_line_d2ea862f722849b7a24ca84bca4251c1.bindPopup(popup_fd2ec2806bfb4b63806deda1be82a133)
        ;

        
    
    
            var poly_line_8fd3dad49d404dc58d444cfaf4a8f8f9 = L.polyline(
                [[43.2980646, -0.3701304], [43.2983483, -0.3704037]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f12b79b5b1044e0bb4bc295ed4e0bf48);
        
    
        var popup_e037c06b9b964db1a222e10278223d6f = L.popup({"maxWidth": "100%"});

        
            var html_f1c4bb6984fa4dfbb518c5b4cdedfd13 = $(`<div id="html_f1c4bb6984fa4dfbb518c5b4cdedfd13" style="width: 100.0%; height: 100.0%;">"Rue Serviez"</div>`)[0];
            popup_e037c06b9b964db1a222e10278223d6f.setContent(html_f1c4bb6984fa4dfbb518c5b4cdedfd13);
        

        poly_line_8fd3dad49d404dc58d444cfaf4a8f8f9.bindPopup(popup_e037c06b9b964db1a222e10278223d6f)
        ;

        
    
    
            map_f12b79b5b1044e0bb4bc295ed4e0bf48.fitBounds(
                [[43.2944047, -0.3706249], [43.2989963, -0.3675571]],
                {}
            );
        
</script>