{% block title %} Ajout d'un nouvel itinéraire {% endblock %}

  
{% block contenu %}

    <p>
      Liste des étapes rentrées :
      <ul>
      {% for é in chemin.étapes %}
      <li> {{é}}</li>
      {% endfor %}
      </ul>
    </p>
    
    <p>
    <a href="{% url 'visu nv chemin' %}" target="_blank"> L’itinéraire tel qu'il à été compris par le logiciel </a>
    (S’ouvre dans un nouvel onglet par défaut.)</br>

    Longueur du chemin proposé : {{longueurs.0}}</br>
    Longueur du chemin direct : {{longueurs.1}}

    <!-- >En rouge le chemin le plus court et en bleu le chemin tenant compte des étapes indiquées, et des données déjà présentes dans la base.
    <div>
      <iframe src="{% url 'visu nv chemin' %}" name="itinéraire_à_vérifier" allowTransparency="true" scrolling="no" frameborder="0" >
      </iframe>
    </div>
    -->
    </p>
    <br>

    <p> <a href="{% url 'confirme nv chemin' %}"> Confirmer et le rentrer dans la base </a>. Un peu de patience : ça va faire tourner le programme d’apprentissage. </p>

    <p>Pour le modifier (ajouter, changer ou préciser des étapes) : 
      <a href = "{% url 'contribution' %}"> retour </a>
    </p>
    
{%endblock%}
