nav{
    border:1px solid #6d6d6d;
    margin-top:5px;
    margin-bottom:10px;
    margin-right:5px;
    margin-left:5px;
}
aside{
    width:10%;
    float:right;
    margin-left:10px;
}
section{
    width:90%;
}
