
<html lang="fr">
  {% load static %}
  <head>
    <meta charset="utf-8">


    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <!-- Ma feuille de style -->
    <link rel="stylesheet" media="screen" href="{% static 'dijk/styles.css' %}" type="text/css"/>
    
    <title>{% block titre %}Recherche d’itinéraire{% endblock %}</title>

    <!-- Pour d’autres params -->
    {% block head_début %} {% endblock %}
  </head>

  <body>


<header>
  <nav>
    <ul>
      <li><a href="{% url 'index'%}"> Entrée </a> </li>
      
      <li> Comment ça marche
	<ul>
	  <li> <a href="{% url 'mode d’emploi' %}"> Mode d’emploi </li>
	  <li><a href="{% url 'limitations'%}"> Problèmes connus </a> </li>
	  <li> Sous le capot </li>
	</ul>
      </li>
      
      <li> <a href="{% url 'cycla'%}"> Cartes de cyclabilité </a>

	
      <li><a href="{% url 'contribution' %}"> Contribution </a>

      <li><a href="{% url 'recherche pourcentages' %}"> Pourcentages de rues piétonnes / cyclables </a>
    </ul>
    
  </nav>
</header>
</br>
<br>


  {% block contenu %} {% endblock %}

  </body>

{% block script %} {% endblock %}

</html>
