{% extends "base.html" %}

{% block titre %} Contribuer {% endblock %}
    
{% block contenu %}

Vous voulez aider ce site ? quelques suggestions :
<ul>
  <li> L’utiliser ! </li>
  
  <li> Enregistrer les itinéraires que vous pratiquez et recommandez. Voir <a href="{% url 'mode d’emploi'%}"> le mode d’emploi du site </a> </li>
  
  <li> Signaler les bugs.</li>
  
  <li>  Proposer des améliorations : que ça soit de nouvelles fonctionalités, ou de simples question de mise en page ou de plan du site, tous les détails comptent !</li>
  
  <li> M’envoyer un message pour me dire que ça a marché (ou pas)</li>
  
  <li> cyril [point] charignon [chez] net-c.com </li>

  
  <li>Je suis un mathématicien, pas un développeur web, et ça se voit ! Si vous avez des compétences en html, css et cie et que vous pouvez améliorer l’aspect et l’ergonomie du site, je vous bénirai sur quatre générations.</li>

  
  <li> Pour les amateurs de clonages et de pull request : <a href="https://github.com/ccharign/osm-velo"> le dépôt github</a>.
</ul>


{% endblock %}
