<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_03ac1fdc77c7414ba06f4b8fdcd1a423 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_03ac1fdc77c7414ba06f4b8fdcd1a423" ></div>
        
</body>
<script>    
    
            var map_03ac1fdc77c7414ba06f4b8fdcd1a423 = L.map(
                "map_03ac1fdc77c7414ba06f4b8fdcd1a423",
                {
                    center: [43.29633684705873, -0.3711130372228271],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_497029c00f55449ebd9127d3aa49e933 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
            var poly_line_359b18f9937a491bb71667008de3de33 = L.polyline(
                [[43.2975465, -0.3716857], [43.2976876, -0.3713891], [43.2978566, -0.3711122]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_a86052583ac64066ae045b8d4515f0e1 = L.popup({"maxWidth": "100%"});

        
            var html_21cec4e3fb46499691c28ffd75b1a44d = $(`<div id="html_21cec4e3fb46499691c28ffd75b1a44d" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_a86052583ac64066ae045b8d4515f0e1.setContent(html_21cec4e3fb46499691c28ffd75b1a44d);
        

        poly_line_359b18f9937a491bb71667008de3de33.bindPopup(popup_a86052583ac64066ae045b8d4515f0e1)
        ;

        
    
    
            var poly_line_48e64bf8bcc4411082341db977ea7fe7 = L.polyline(
                [[43.2961475, -0.3710878], [43.2957267, -0.3706332]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_7212ddbe34504b7d8ac3f53944a14a77 = L.popup({"maxWidth": "100%"});

        
            var html_2cafb63442ef43f9bf38388279a0a790 = $(`<div id="html_2cafb63442ef43f9bf38388279a0a790" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_7212ddbe34504b7d8ac3f53944a14a77.setContent(html_2cafb63442ef43f9bf38388279a0a790);
        

        poly_line_48e64bf8bcc4411082341db977ea7fe7.bindPopup(popup_7212ddbe34504b7d8ac3f53944a14a77)
        ;

        
    
    
            var poly_line_a6bdb554c2a24a72b8442758b8d28e67 = L.polyline(
                [[43.2964142, -0.3712928], [43.2961475, -0.3710878]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_a19de14329404c529eacbe461e3b2c8c = L.popup({"maxWidth": "100%"});

        
            var html_abcbfc0def8e462b8d327cb9d40451bd = $(`<div id="html_abcbfc0def8e462b8d327cb9d40451bd" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_a19de14329404c529eacbe461e3b2c8c.setContent(html_abcbfc0def8e462b8d327cb9d40451bd);
        

        poly_line_a6bdb554c2a24a72b8442758b8d28e67.bindPopup(popup_a19de14329404c529eacbe461e3b2c8c)
        ;

        
    
    
            var poly_line_44ee24ce76aa4c4cb3e9d1689f89de6b = L.polyline(
                [[43.2957533, -0.3705134], [43.2953835, -0.37047], [43.2951483, -0.3704836], [43.2945941, -0.3705484], [43.2944841, -0.3705586]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_223c0f21cbb04d64acfe8a6b6226f781 = L.popup({"maxWidth": "100%"});

        
            var html_a79c31ba52a6470583e612d57e056a8f = $(`<div id="html_a79c31ba52a6470583e612d57e056a8f" style="width: 100.0%; height: 100.0%;">"Rue Saint-Louis"</div>`)[0];
            popup_223c0f21cbb04d64acfe8a6b6226f781.setContent(html_a79c31ba52a6470583e612d57e056a8f);
        

        poly_line_44ee24ce76aa4c4cb3e9d1689f89de6b.bindPopup(popup_223c0f21cbb04d64acfe8a6b6226f781)
        ;

        
    
    
            var poly_line_9ca5e4c7787b472c977c76306b359ba8 = L.polyline(
                [[43.2957267, -0.3706332], [43.2957533, -0.3705134]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_0f08427bfeeb40cc8b4cb0688d5c8040 = L.popup({"maxWidth": "100%"});

        
            var html_6208fb17a63d43ee99702b3054ef9370 = $(`<div id="html_6208fb17a63d43ee99702b3054ef9370" style="width: 100.0%; height: 100.0%;">"Rue du Mar\u00e9chal Joffre"</div>`)[0];
            popup_0f08427bfeeb40cc8b4cb0688d5c8040.setContent(html_6208fb17a63d43ee99702b3054ef9370);
        

        poly_line_9ca5e4c7787b472c977c76306b359ba8.bindPopup(popup_0f08427bfeeb40cc8b4cb0688d5c8040)
        ;

        
    
    
            var poly_line_27fb761d188c43509fcfaf0d0b8eef41 = L.polyline(
                [[43.2974786, -0.3718887], [43.2975195, -0.3717354], [43.2975465, -0.3716857]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_d08a7dd668ab494cbd8088eaf3eb3817 = L.popup({"maxWidth": "100%"});

        
            var html_d0e93c1c124e42d6b0bc49f984bb7d88 = $(`<div id="html_d0e93c1c124e42d6b0bc49f984bb7d88" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_d08a7dd668ab494cbd8088eaf3eb3817.setContent(html_d0e93c1c124e42d6b0bc49f984bb7d88);
        

        poly_line_27fb761d188c43509fcfaf0d0b8eef41.bindPopup(popup_d08a7dd668ab494cbd8088eaf3eb3817)
        ;

        
    
    
            var poly_line_57bfc8c970b742ddaf4b1de29a2acef1 = L.polyline(
                [[43.2974021, -0.3719182], [43.2974786, -0.3718887]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_bea3beb3de9a40d5931af3e59fcbfd6b = L.popup({"maxWidth": "100%"});

        
            var html_b5e605c6742440c09cdb909a9a40a9da = $(`<div id="html_b5e605c6742440c09cdb909a9a40a9da" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_bea3beb3de9a40d5931af3e59fcbfd6b.setContent(html_b5e605c6742440c09cdb909a9a40a9da);
        

        poly_line_57bfc8c970b742ddaf4b1de29a2acef1.bindPopup(popup_bea3beb3de9a40d5931af3e59fcbfd6b)
        ;

        
    
    
            var poly_line_189d2802e9df43ca942e5266433342ee = L.polyline(
                [[43.2974021, -0.3719182], [43.2973813, -0.3719071], [43.2969784, -0.3716535]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_1a903ac3a49b4165865a63b1abc3d521 = L.popup({"maxWidth": "100%"});

        
            var html_9fa68fc0d51444f6894faa588e35061e = $(`<div id="html_9fa68fc0d51444f6894faa588e35061e" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_1a903ac3a49b4165865a63b1abc3d521.setContent(html_9fa68fc0d51444f6894faa588e35061e);
        

        poly_line_189d2802e9df43ca942e5266433342ee.bindPopup(popup_1a903ac3a49b4165865a63b1abc3d521)
        ;

        
    
    
            var poly_line_f151980213e0405ab16173647e0a143a = L.polyline(
                [[43.2969784, -0.3716535], [43.2969095, -0.3716101], [43.2967622, -0.371518]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_a1223f328e37478caf87164a40ddab6b = L.popup({"maxWidth": "100%"});

        
            var html_27cb9e72a6044147803826ad568c4daa = $(`<div id="html_27cb9e72a6044147803826ad568c4daa" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_a1223f328e37478caf87164a40ddab6b.setContent(html_27cb9e72a6044147803826ad568c4daa);
        

        poly_line_f151980213e0405ab16173647e0a143a.bindPopup(popup_a1223f328e37478caf87164a40ddab6b)
        ;

        
    
    
            var poly_line_8b7718c021e448e1b365f8fa617443ce = L.polyline(
                [[43.2967622, -0.371518], [43.2966359, -0.371443], [43.2964142, -0.3712928]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_ba60c3b5e5d24091b2f275c3bcc5b6c2 = L.popup({"maxWidth": "100%"});

        
            var html_ceaf5136c6f4492d91b5b6fe304a3771 = $(`<div id="html_ceaf5136c6f4492d91b5b6fe304a3771" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_ba60c3b5e5d24091b2f275c3bcc5b6c2.setContent(html_ceaf5136c6f4492d91b5b6fe304a3771);
        

        poly_line_8b7718c021e448e1b365f8fa617443ce.bindPopup(popup_ba60c3b5e5d24091b2f275c3bcc5b6c2)
        ;

        
    
    
            map_03ac1fdc77c7414ba06f4b8fdcd1a423.fitBounds(
                [[43.2944841, -0.3719182], [43.2978566, -0.37047]],
                {}
            );
        
    
            var poly_line_dab4dd7671e143e9aaab9d9faca223a1 = L.polyline(
                [[43.2975465, -0.3716857], [43.2976876, -0.3713891], [43.2978566, -0.3711122]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_804b9c01946e4997a3b7345cb8a180d1 = L.popup({"maxWidth": "100%"});

        
            var html_6e66f46e72e348ad8102e19cf68f985d = $(`<div id="html_6e66f46e72e348ad8102e19cf68f985d" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_804b9c01946e4997a3b7345cb8a180d1.setContent(html_6e66f46e72e348ad8102e19cf68f985d);
        

        poly_line_dab4dd7671e143e9aaab9d9faca223a1.bindPopup(popup_804b9c01946e4997a3b7345cb8a180d1)
        ;

        
    
    
            var poly_line_332c748c019140a5a2ddf1e0855b86e0 = L.polyline(
                [[43.2961475, -0.3710878], [43.2957267, -0.3706332]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_8e3f2ac95aa141dc97222a6cfbe6fd7d = L.popup({"maxWidth": "100%"});

        
            var html_8a93b3af67f74eafa6006dd67c513042 = $(`<div id="html_8a93b3af67f74eafa6006dd67c513042" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_8e3f2ac95aa141dc97222a6cfbe6fd7d.setContent(html_8a93b3af67f74eafa6006dd67c513042);
        

        poly_line_332c748c019140a5a2ddf1e0855b86e0.bindPopup(popup_8e3f2ac95aa141dc97222a6cfbe6fd7d)
        ;

        
    
    
            var poly_line_e9595537f52f4642be497534e9f77558 = L.polyline(
                [[43.2964142, -0.3712928], [43.2961475, -0.3710878]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_0f58173d776d4436b1cbbbe139901779 = L.popup({"maxWidth": "100%"});

        
            var html_4e55284737dd47208ea74aac3ead681f = $(`<div id="html_4e55284737dd47208ea74aac3ead681f" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_0f58173d776d4436b1cbbbe139901779.setContent(html_4e55284737dd47208ea74aac3ead681f);
        

        poly_line_e9595537f52f4642be497534e9f77558.bindPopup(popup_0f58173d776d4436b1cbbbe139901779)
        ;

        
    
    
            var poly_line_28ca6df932d249b8919fe8a561f012b4 = L.polyline(
                [[43.2957533, -0.3705134], [43.2953835, -0.37047], [43.2951483, -0.3704836], [43.2945941, -0.3705484], [43.2944841, -0.3705586]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_2f001eb8117646089caff2c5c7507756 = L.popup({"maxWidth": "100%"});

        
            var html_f00a20c7e89142fa9afb7e40e93683f3 = $(`<div id="html_f00a20c7e89142fa9afb7e40e93683f3" style="width: 100.0%; height: 100.0%;">"Rue Saint-Louis"</div>`)[0];
            popup_2f001eb8117646089caff2c5c7507756.setContent(html_f00a20c7e89142fa9afb7e40e93683f3);
        

        poly_line_28ca6df932d249b8919fe8a561f012b4.bindPopup(popup_2f001eb8117646089caff2c5c7507756)
        ;

        
    
    
            var poly_line_1348c6b0923b48758270f1ed5520ca45 = L.polyline(
                [[43.2957267, -0.3706332], [43.2957533, -0.3705134]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_03cc5cfbe4c941698a3f1e7ec8f16936 = L.popup({"maxWidth": "100%"});

        
            var html_f9050fd5aeef4ddbbd47a5e2eafce6f3 = $(`<div id="html_f9050fd5aeef4ddbbd47a5e2eafce6f3" style="width: 100.0%; height: 100.0%;">"Rue du Mar\u00e9chal Joffre"</div>`)[0];
            popup_03cc5cfbe4c941698a3f1e7ec8f16936.setContent(html_f9050fd5aeef4ddbbd47a5e2eafce6f3);
        

        poly_line_1348c6b0923b48758270f1ed5520ca45.bindPopup(popup_03cc5cfbe4c941698a3f1e7ec8f16936)
        ;

        
    
    
            var poly_line_cd4a38232b404139beea33a269a287da = L.polyline(
                [[43.2974786, -0.3718887], [43.2975195, -0.3717354], [43.2975465, -0.3716857]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_c26ae750ceb44fd88624c31a11b6038c = L.popup({"maxWidth": "100%"});

        
            var html_a5c23d89e78249479cf40a910587a90a = $(`<div id="html_a5c23d89e78249479cf40a910587a90a" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_c26ae750ceb44fd88624c31a11b6038c.setContent(html_a5c23d89e78249479cf40a910587a90a);
        

        poly_line_cd4a38232b404139beea33a269a287da.bindPopup(popup_c26ae750ceb44fd88624c31a11b6038c)
        ;

        
    
    
            var poly_line_7d7d4b8f0e7643689fe33ec808096797 = L.polyline(
                [[43.2974021, -0.3719182], [43.2974786, -0.3718887]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_88becc30358f4f34b58758c804c4cc2f = L.popup({"maxWidth": "100%"});

        
            var html_1d8254be15e04732b17cd94e2a1f3269 = $(`<div id="html_1d8254be15e04732b17cd94e2a1f3269" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_88becc30358f4f34b58758c804c4cc2f.setContent(html_1d8254be15e04732b17cd94e2a1f3269);
        

        poly_line_7d7d4b8f0e7643689fe33ec808096797.bindPopup(popup_88becc30358f4f34b58758c804c4cc2f)
        ;

        
    
    
            var poly_line_f37056f457104538b0de87db0961b25c = L.polyline(
                [[43.2974021, -0.3719182], [43.2973813, -0.3719071], [43.2969784, -0.3716535]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_3caec7b1d28049aa8f6ef275660b16d2 = L.popup({"maxWidth": "100%"});

        
            var html_8209947916604e4490da1985a503de10 = $(`<div id="html_8209947916604e4490da1985a503de10" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_3caec7b1d28049aa8f6ef275660b16d2.setContent(html_8209947916604e4490da1985a503de10);
        

        poly_line_f37056f457104538b0de87db0961b25c.bindPopup(popup_3caec7b1d28049aa8f6ef275660b16d2)
        ;

        
    
    
            var poly_line_372525de9b1d48b19d8cc8f58accfa17 = L.polyline(
                [[43.2969784, -0.3716535], [43.2969095, -0.3716101], [43.2967622, -0.371518]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_631212063fa648a2b978125e0dd19d38 = L.popup({"maxWidth": "100%"});

        
            var html_9e0cc932a6254d5385ded3285bc0ffb2 = $(`<div id="html_9e0cc932a6254d5385ded3285bc0ffb2" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_631212063fa648a2b978125e0dd19d38.setContent(html_9e0cc932a6254d5385ded3285bc0ffb2);
        

        poly_line_372525de9b1d48b19d8cc8f58accfa17.bindPopup(popup_631212063fa648a2b978125e0dd19d38)
        ;

        
    
    
            var poly_line_051fbcab3aa440278629947651722a3c = L.polyline(
                [[43.2967622, -0.371518], [43.2966359, -0.371443], [43.2964142, -0.3712928]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_31703f57231e458d8153c4028e390742 = L.popup({"maxWidth": "100%"});

        
            var html_22fc3bb8901e4168a82bbb216c15a692 = $(`<div id="html_22fc3bb8901e4168a82bbb216c15a692" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_31703f57231e458d8153c4028e390742.setContent(html_22fc3bb8901e4168a82bbb216c15a692);
        

        poly_line_051fbcab3aa440278629947651722a3c.bindPopup(popup_31703f57231e458d8153c4028e390742)
        ;

        
    
    
            map_03ac1fdc77c7414ba06f4b8fdcd1a423.fitBounds(
                [[43.2944841, -0.3719182], [43.2978566, -0.37047]],
                {}
            );
        
    
            var poly_line_bafbfc7fb42a4f288a23e7da49c24e3a = L.polyline(
                [[43.2975465, -0.3716857], [43.2976876, -0.3713891], [43.2978566, -0.3711122]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_354589be5907472aa8ba7d08c2dda6f0 = L.popup({"maxWidth": "100%"});

        
            var html_1a467609ebac4eb7aeee6c10c98441fe = $(`<div id="html_1a467609ebac4eb7aeee6c10c98441fe" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_354589be5907472aa8ba7d08c2dda6f0.setContent(html_1a467609ebac4eb7aeee6c10c98441fe);
        

        poly_line_bafbfc7fb42a4f288a23e7da49c24e3a.bindPopup(popup_354589be5907472aa8ba7d08c2dda6f0)
        ;

        
    
    
            var poly_line_964547344d57482394b14789621607a6 = L.polyline(
                [[43.2961475, -0.3710878], [43.2957267, -0.3706332]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_7b32dceca4284956a40886753b2c6c25 = L.popup({"maxWidth": "100%"});

        
            var html_2e43dd9a8071418ebec7ef777a279366 = $(`<div id="html_2e43dd9a8071418ebec7ef777a279366" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_7b32dceca4284956a40886753b2c6c25.setContent(html_2e43dd9a8071418ebec7ef777a279366);
        

        poly_line_964547344d57482394b14789621607a6.bindPopup(popup_7b32dceca4284956a40886753b2c6c25)
        ;

        
    
    
            var poly_line_861ad275f4284e2bbedd69f35c545e55 = L.polyline(
                [[43.2964142, -0.3712928], [43.2961475, -0.3710878]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_f9c1a6ecaf42496894b2ce4d5db63460 = L.popup({"maxWidth": "100%"});

        
            var html_176cb5361e60463c8bd4fbfb00c4bdd9 = $(`<div id="html_176cb5361e60463c8bd4fbfb00c4bdd9" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_f9c1a6ecaf42496894b2ce4d5db63460.setContent(html_176cb5361e60463c8bd4fbfb00c4bdd9);
        

        poly_line_861ad275f4284e2bbedd69f35c545e55.bindPopup(popup_f9c1a6ecaf42496894b2ce4d5db63460)
        ;

        
    
    
            var poly_line_cd72084117ee48f48c7f2fb9acd5e918 = L.polyline(
                [[43.2957533, -0.3705134], [43.2953835, -0.37047], [43.2951483, -0.3704836], [43.2945941, -0.3705484], [43.2944841, -0.3705586]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_c4e48bb0ed594df48e20636d296b1dfc = L.popup({"maxWidth": "100%"});

        
            var html_8b04e4888d934a83a3688505424fa38a = $(`<div id="html_8b04e4888d934a83a3688505424fa38a" style="width: 100.0%; height: 100.0%;">"Rue Saint-Louis"</div>`)[0];
            popup_c4e48bb0ed594df48e20636d296b1dfc.setContent(html_8b04e4888d934a83a3688505424fa38a);
        

        poly_line_cd72084117ee48f48c7f2fb9acd5e918.bindPopup(popup_c4e48bb0ed594df48e20636d296b1dfc)
        ;

        
    
    
            var poly_line_8c65faef8fe749e68a622ce7e8b7a19f = L.polyline(
                [[43.2957267, -0.3706332], [43.2957533, -0.3705134]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_c26b2740a8f44fdea833f2cbcef115cb = L.popup({"maxWidth": "100%"});

        
            var html_e35ee90ca114482c9df7d59fdcf12798 = $(`<div id="html_e35ee90ca114482c9df7d59fdcf12798" style="width: 100.0%; height: 100.0%;">"Rue du Mar\u00e9chal Joffre"</div>`)[0];
            popup_c26b2740a8f44fdea833f2cbcef115cb.setContent(html_e35ee90ca114482c9df7d59fdcf12798);
        

        poly_line_8c65faef8fe749e68a622ce7e8b7a19f.bindPopup(popup_c26b2740a8f44fdea833f2cbcef115cb)
        ;

        
    
    
            var poly_line_8d3e1957c080461a9ab76fda98ebfa5a = L.polyline(
                [[43.2974786, -0.3718887], [43.2975195, -0.3717354], [43.2975465, -0.3716857]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_0bba2015a24043039ed1fd9ff9d0bfa1 = L.popup({"maxWidth": "100%"});

        
            var html_40413982af6b4301b1739a39bba3d721 = $(`<div id="html_40413982af6b4301b1739a39bba3d721" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_0bba2015a24043039ed1fd9ff9d0bfa1.setContent(html_40413982af6b4301b1739a39bba3d721);
        

        poly_line_8d3e1957c080461a9ab76fda98ebfa5a.bindPopup(popup_0bba2015a24043039ed1fd9ff9d0bfa1)
        ;

        
    
    
            var poly_line_82a69b1650ea4d1185fb5363813fd9ce = L.polyline(
                [[43.2974021, -0.3719182], [43.2974786, -0.3718887]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_942dc304d7f74342b7a8d36a8b1a7ead = L.popup({"maxWidth": "100%"});

        
            var html_f836e00f12564aaeae889d067b48ccfa = $(`<div id="html_f836e00f12564aaeae889d067b48ccfa" style="width: 100.0%; height: 100.0%;">"Place de la Lib\u00e9ration"</div>`)[0];
            popup_942dc304d7f74342b7a8d36a8b1a7ead.setContent(html_f836e00f12564aaeae889d067b48ccfa);
        

        poly_line_82a69b1650ea4d1185fb5363813fd9ce.bindPopup(popup_942dc304d7f74342b7a8d36a8b1a7ead)
        ;

        
    
    
            var poly_line_ef477bb657044ac1a9ab34c597fc36c9 = L.polyline(
                [[43.2974021, -0.3719182], [43.2973813, -0.3719071], [43.2969784, -0.3716535]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_fe16f967f0fa4a4793cd5f31e3ad4279 = L.popup({"maxWidth": "100%"});

        
            var html_a45cfd213b2c4921b4f262a0a842e593 = $(`<div id="html_a45cfd213b2c4921b4f262a0a842e593" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_fe16f967f0fa4a4793cd5f31e3ad4279.setContent(html_a45cfd213b2c4921b4f262a0a842e593);
        

        poly_line_ef477bb657044ac1a9ab34c597fc36c9.bindPopup(popup_fe16f967f0fa4a4793cd5f31e3ad4279)
        ;

        
    
    
            var poly_line_6dbaa213cf894176bbe5f5bc313616e5 = L.polyline(
                [[43.2969784, -0.3716535], [43.2969095, -0.3716101], [43.2967622, -0.371518]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_3165b192b0714f05afd9174055883074 = L.popup({"maxWidth": "100%"});

        
            var html_431875e1a36c47f2b0651cef53beadd3 = $(`<div id="html_431875e1a36c47f2b0651cef53beadd3" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_3165b192b0714f05afd9174055883074.setContent(html_431875e1a36c47f2b0651cef53beadd3);
        

        poly_line_6dbaa213cf894176bbe5f5bc313616e5.bindPopup(popup_3165b192b0714f05afd9174055883074)
        ;

        
    
    
            var poly_line_d108b9f1869640209331d65d71664fd3 = L.polyline(
                [[43.2967622, -0.371518], [43.2966359, -0.371443], [43.2964142, -0.3712928]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_03ac1fdc77c7414ba06f4b8fdcd1a423);
        
    
        var popup_9611d0c4f32d47b388b3a87be7065fbf = L.popup({"maxWidth": "100%"});

        
            var html_2bc357ab02a14ca9890268f52e8171ca = $(`<div id="html_2bc357ab02a14ca9890268f52e8171ca" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_9611d0c4f32d47b388b3a87be7065fbf.setContent(html_2bc357ab02a14ca9890268f52e8171ca);
        

        poly_line_d108b9f1869640209331d65d71664fd3.bindPopup(popup_9611d0c4f32d47b388b3a87be7065fbf)
        ;

        
    
    
            map_03ac1fdc77c7414ba06f4b8fdcd1a423.fitBounds(
                [[43.2944841, -0.3719182], [43.2978566, -0.37047]],
                {}
            );
        
</script>