{% extends "base.html" %}

{% block contenu %}
<p>
  Les problèmes ci-dessous sont déjà connus, je m’y attèle dès que j’ai un moment...
  <ul>
    
    <li> Le premier chargement est très long... Si vous voulez tout savoir, le serveur met en mémoire le graphe de toute l’agglo et calcule les arbres lexicographiques de toutes les rues d’icelle afin de pouvoir détecter les fautes de frappes dans les recherches.
    </li>
    
    <li> Lorsqu’entre deux carrefours existent deux tronçons de rues, qui ne croisent aucune autre rue (pour les mathématiciens : deux sommets sont reliés par plusieurs arêtes), au moment de l’affichage ces deux tronçons seront affichés simultanément, ce qui dessine des boucles. Mais pour le calcul, seul le tronçon de rue le plus intéressant a été pris en compte.</li>
    
    <li>Certaines petites rues ne figurent pas dans la base de données. Or le programme lorsqu’il ne reconnaît pas un nom de rue regarde s’il en connaît une à une ou deux fautes de frappes près. Ainsi dans le cas où une rue ne serait pas dans la base, mais où il en existe une à moins de deux fautes de frappe, la première sera remplacée par la seconde. Par exemple une recherche sur « rue d’Artagnan » donnera « rue d’Armagnac ». </li>
  </ul>


  
</p>
{% endblock %}
