{% extends "base.html" %}

	    
{% block contenu %}

<p> <!-- Trajet de {{départ}} à {{arrivée}} -->
  <!-- {% if étapes %} -->
  <!-- en passant par {{étapes}}. -->
  <!-- {% endif %} -->
{{chemin}}
</p>


<p>
  <a href="{% url 'visu nv chemin' %}" target="_blank"> L’itinéraire en plein écran dans un onglet séparé </a>
</p>

<!-- Formulaire pour enregistrer la contribution -->
{% if étapes or post_préc.rues_interdites %}
</br>

<p>
  Si l’itinéraire affiché vous paraît judicieux, autrement dit si pour aller de « {{départ}} » à « {{arrivée}} » il vous semble judicieux de
  {% if étapes %}
  passer par « {{étapes}} »
  {% endif %}
  {% if étapes and post_préc.rues_interdites %}
  et/ou
  {% endif %}
  {% if post_préc.rues_interdites %}
  d’éviter « {{rues_interdites}} »
  {% endif%}, enregistrez-le dans la base de données, afin d’entraîner l’IA et améliorer ainsi l’appli pour les prochains utilisateurs !
</p>
<p>
    <form action = "{% url 'confirme nv chemin' %}" method="post">
      {% csrf_token %}
      <input type="hidden" id="départ" name="départ" value="{{départ}}">
      <input type="hidden" id="arrivée" name="arrivée" value="{{arrivée}}">
      <input type="hidden" id="étapes" name="étapes" value="{{post_préc.étapes}}">
      <input type="hidden" id="rues_interdites" name="rues_interdites" value="{{post_préc.rues_interdites}}">

      <label for="pourcentage_détour"> Pourcentage de détour : </label>
      <input type="number" id="pourcentage_détour" name="pourcentage_détour" value = "{{p_détour_moyen}}"><br>
      <label for="AR"> Valable aussi pour le retour ? </label>
      <input type="checkbox" id="AR" name="AR"><br>

      <input type="submit" value="Enregistrer la contribution"><br>
     
    </form>
</p>

{% endif %}


<div class="container">
  <div class="row">
    
    <div class="col-md-auto">
      <!-- La carte -->
      <div class="carte">
	{% block carte %}
	{% endblock carte %}
      </div>
    </div>


    <div class="col-sm-auto">
      <!-- Statistiques -->
      <div class="stats">
	<p>
	  Longueur des trajets :<br>
	  <ul>
	    {% for x in stats %}
	    <li> <span style = "color: {{x.3}};"> {{x.0}} :  {{x.1}} m<!-- , ressentie : {{x.2}} m --> </span></li>
	    {% endfor %}
	  </ul>
	</p>
      </div>
    </div>
    
  </div>
</div>

</br>


<section>
<!-- Formulaire pour relancer le calcul -->
<p>
    <form action = "{% url 'résultat' %}" method="post">
      {% csrf_token %}
      <input type="hidden" id="départ" name="départ" value="{{départ}}">

      <input type="hidden" id="arrivée" name="arrivée" value="{{arrivée}}">

      <input type="hidden" id="pourcentage_détour" name="pourcentage_détour" value = "{{post_préc.pourcentage_détour}}"><br><br>

      <label for="étapes"> Ajouter ou modifier les étapes ? </label><br>
      <input type="text" id="étapes" name="étapes" value="{{post_préc.étapes}}" size=100 ><br><br>

      <label for="rue_interdites"> Ajouter ou modifier des rues interdites ? </label><br>
      <input type="text" id="rues_interdites" name="rues_interdites" value="{{post_préc.rues_interdites}}" size=100 ><br><br>
      
      <input type="submit" value="Recalculer l’itinéraire">
    </form>
</p>
</section>

{% endblock contenu %}
