{% extends "base.html" %}


{% block contenu %}

<p> <!-- Trajet de {{départ}} à {{arrivée}} -->
  <!-- {% if étapes %} -->
  <!-- en passant par {{étapes}}. -->
  <!-- {% endif %} -->
{{chemin}}
</p>


<p>
  <a href="{% url 'visu nv chemin' %}" target="_blank"> L’itinéraire en plein écran dans un onglet séparé </a>
</p>

<!-- Formulaire pour enregistrer la contribution -->
{% if étapes or post_préc.rues_interdites %}
</br>

<p>
  Si l’itinéraire affiché vous paraît judicieux, autrement dit si pour aller de « {{départ}} » à « {{arrivée}} » il vous semble judicieux de
  {% if étapes %}
  passer par « {{étapes}} »
  {% endif %}
  {% if étapes and post_préc.rues_interdites %}
  et/ou
  {% endif %}
  {% if post_préc.rues_interdites %}
  d’éviter « {{rues_interdites}} »
  {% endif%}, enregistrez-le dans la base de données, afin d’entraîner l’IA et améliorer ainsi l’appli pour les prochains utilisateurs !
</p>
<p>
    <form action = "{% url 'confirme nv chemin' %}" method="post">
      {% csrf_token %}
      
      <input type="hidden" id="départ" name="départ" value="{{départ}}">
      <input type="hidden" id="arrivée" name="arrivée" value="{{arrivée}}">
      <input type="hidden" id="étapes" name="étapes" value="{{post_préc.étapes}}">
      <input type="hidden" id="rues_interdites" name="rues_interdites" value="{{post_préc.rues_interdites}}">
      <input type="hidden" id="zone_t" name="zone_t" value="{{zone_t}}">

      <div class="form-group">
	<label for="pourcentage_détour"> Pourcentage de détour : </label>
	<input type="number" id="pourcentage_détour" name="pourcentage_détour" value = "{{p_détour_moyen}}"><br>
      </div>

      <div class="checkbox">
	<label for="AR">  <input type="checkbox" id="AR" name="AR"> Valable aussi pour le retour ? </label>
      </div>
      
      <input type="submit" class="btn btn-default" value="Enregistrer la contribution"><br>
     
    </form>
</p>

{% endif %}


  <div class="row">
    
    <div class="col-md-9">
      <!-- La carte -->
      <div class="carte">
	{% block carte %}
	{% endblock %}
      </div>
    </div>

    <div class="col-sm-3">
      <!-- Statistiques -->
	<p>
	  Longueur des trajets :<br>
	  <ul>
	    {% for x in stats %}
	    <li> <span style = "color: {{x.couleur}};"> {{x.légende}} :  {{x.longueur}} m<!-- , ressentie : {{x.2}} m --> </span>
	      <form action="{% url 'téléchargement' %}" method="post">
		{% csrf_token %}
		<input type="hidden" id="clef" name="clef" value={{x.nom_gpx}}>
		<input type="submit" class="btn btn-default" value="gpx">
	      </form>
	    </li>
	    {% endfor %}
	  </ul>
	</p>

    </div>
    
  </div>


</br>


<section>
  
<!-- Formulaire pour relancer le calcul -->
    <form action = "{% url 'résultat' %}" method="post">
      {% csrf_token %}

      <div class="form-group">
	<label for="départ">Départ</label>
	<input type="text" class="form-control" id="départ" name="départ" value="{{départ}}">
	<label for="arrivée"> Arrivée </label>
	<input type="text" class="form-control" id="arrivée" name="arrivée" value="{{arrivée}}">
	<label for="pourcentage_détour">Pourcentage détour </label>
	<input type="text" class="form-control" id="pourcentage_détour" name="pourcentage_détour" value = "{{post_préc.pourcentage_détour}}"><br><br>
      </div>
      <input type="hidden" id="zone_t" name="zone_t" value="{{zone_t}}">

      <div class="from-group">
	<label for="étapes"> Ajouter ou modifier les étapes ? </label><br>
	<input type="text" class="form-control" id="étapes" name="étapes" value="{{post_préc.étapes}}" size=100 ><br><br>
      </div>

      <div class="form-group">
	<label for="rue_interdites"> Ajouter ou modifier des rues interdites ? </label><br>
	<input type="text" class="form-control" id="rues_interdites" name="rues_interdites" value="{{post_préc.rues_interdites}}" size=100 ><br><br>
      </div>
      
      <input type="submit" class="btn btn-default" value="Recalculer l’itinéraire">
    </form>

</section>

{% endblock contenu %}
