{% extends "base.html" %}


{% block contenu %}
{% load static %}

<script>
  //var laCarte;
  //laCarte = document.getElementById("{{la_carte}}");
  //console.log("laCarte ="+laCarte)
  $(document).ready(function() {
      console.log("valeur de la_carte :"+{{la_carte}})
      const laCarte  = {{la_carte}}; // L’objet javascript créé par leaflet
      marqueurs_of_form(document.getElementById("relance_rapide"), laCarte);
//      gèreLesClics(laCarte);
    });
</script>

 
<!-- Formulaire pour enregistrer la contribution -->
{% if étapes or post_préc.rues_interdites %}
  {% block enregistrer_contrib %}
  {% endblock %}
{% endif %}

<!-- Formulaire de relance simplifié -->
{% block modifs_rapides %}

{% endblock %}


<!-- Carte et stats -->
<div class="row">
    
  <div class="col-md-9">
    <!-- La carte -->
    
    <!-- <div class="marker-position">click on the map, move the marker, click on the marker</div> -->
    <div class="carte">
      {% block carte %}
      {% endblock %}
    
	<!-- <a href="{% url 'visu nv chemin' %}" target="_blank"> L’itinéraire en plein écran dans un onglet séparé </a> -->
    </div>
    
  </div>
  
  <div class="col-sm-3">
      <!-- Statistiques -->
      <h4> Longueurs et traces gps </h4>
      {% block stats %}
      {% endblock %}
      
      {% if fouine %}
      <img src="{% static 'dijk/fouine.jpeg' %}">
      {% endif %}
  </div>
</div>

<br><br>


<!-- Formulaire pour relancer le calcul -->
<h4> Modifier la recherche </h4>

  <p> Si le trajet proposé ne vous semble pas pertinent, corrigez-moi en précisant les champs ci-dessous :
  {% block relancer_calcul %}
  {% endblock %}

{% endblock contenu %}
