{% extends "dijk/résultat_itinéraire_base.html" %}






<!-- Formulaire pour enregistrer la contribution -->
{% block enregistrer_contrib %}
<h4 class="alert-info">
  Entraînez l’IA et améliorez l’appli pour les prochains utilisateurs !
</h4>

<p>
  Sélectionnez les profils cyclistes pour lesquels il vous semble pertinent, pour aller de « {{départ}} » à « {{arrivée}} »,
  {% if étapes %}
  de passer par « {{étapes}} »
  {% endif %}
  {% if étapes and post_préc.rues_interdites %}
  et
  {% endif %}
  {% if post_préc.rues_interdites %}
  d’éviter « {{rues_interdites}} »
{% endif%}.
</p>
<!-- Autoriser les popover -->
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
<p>
    <form action = "{% url 'confirme nv chemin' %}" method="post">
      {% csrf_token %}
      
      <input type="hidden" id="départ" name="départ" value="{{départ}}">
      <input type="hidden" id="arrivée" name="arrivée" value="{{arrivée}}">
      <input type="hidden" id="étapes" name="étapes" value="{{post_préc.étapes}}">
      <input type="hidden" id="rues_interdites" name="rues_interdites" value="{{post_préc.rues_interdites}}">
      <input type="hidden" id="zone_t" name="zone_t" value="{{zone_t}}">

      <ul>
      {% for x in stats %}
      {% if x.id != "ps0" %}
      <li>
	  <label for="{{x.id}}" ><input type="checkbox" id="{{x.id}}" name="{{x.id}}" > {{x.légende}} </label>
	  <span class="btn-sm btn-default" data-toggle="popover" title="{{x.légende}}" data-trigger="hover" data-content="{{x.aide}}">?</span>
      </li>
      {% endif %}
      {% endfor %}
      </ul>
      <div class="checkbox">
	<label for="AR">  <input type="checkbox" id="AR" name="AR"> Valable aussi pour le retour ? </label>
      </div>
      
      <input type="submit" class="btn btn-default" value="Enregistrer">
     
    </form>
</p>

{% endblock %}




<!-- Statistiques -->
{% block stats %}
<ul>
  {% for x in stats %}
  <li> 
    <form action="{% url 'téléchargement' %}" method="post">
      {% csrf_token %}
      <span class="btn-xs btn-default" data-toggle="popover" title="{{x.légende}}" data-trigger="hover" data-content="{{x.aide}}">?</span>
      <span style="color: {{x.couleur}};"> {{x.légende}} :  {{x.longueur}} m </span>
      <input type="hidden" id="clef" name="clef" value={{x.nom_gpx}}>
      <input type="submit" class="btn btn-link" value="gpx">
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}



<!-- Formulaire pour relancer le calcul -->
{% block relancer_calcul %}
<form action = "{% url 'résultat' %}" method="post">
  {% csrf_token %}

  
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
	<label for="départ">Départ</label>
	<input type="text" class="form-control" id="départ" name="départ" value="{{départ}}">
      </div>
      <div class="col-sm-4">
	<label for="arrivée"> Arrivée </label>
	<input type="text" class="form-control" id="arrivée" name="arrivée" value="{{arrivée}}">
      </div>
    </div>
  </div>
  
  <input type="hidden" id="zone_t" name="zone_t" value="{{zone_t}}">
  <input type="hidden" id="pourcentage_détour" name="pourcentage_détour" value = "{{post_préc.pourcentage_détour}}">
  
  <div class="from-group">
    <label for="étapes"> Étapes </label>
    <input type="text" class="form-control" id="étapes" name="étapes" value="{{post_préc.étapes}}" >
  </div>

  <div class="form-group">
    <label for="rue_interdites"> Rues interdites </label>
    <input type="text" class="form-control" id="rues_interdites" name="rues_interdites" value="{{post_préc.rues_interdites}}" >
  </div>
  
  <input type="submit" class="btn btn-default" value="Recalculer l’itinéraire">
</form>
{% endblock %}
