
        {% extends "dijk/résultat_itinéraire_sans_carte.html" %}
        {% block head_début %}      
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6fccf3d431cc495895482f21b605fa1b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
  {% endblock %}
        {% block carte %}     
    
            <div class="folium-map" id="map_6fccf3d431cc495895482f21b605fa1b" ></div>
        
 {% endblock %}
        {% block script %} <script>     
    
            var map_6fccf3d431cc495895482f21b605fa1b = L.map(
                "map_6fccf3d431cc495895482f21b605fa1b",
                {
                    center: [43.29598824784779, -0.37100137812180434],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_512d8187696d40c98199179ee315c8ee = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
            var poly_line_b25adbfbf8524179a0320359d6c1b646 = L.polyline(
                [[43.2961475, -0.3710878], [43.2957267, -0.3706332]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_4769bec36ab4499a86455df53d3bb9ec = L.popup({"maxWidth": "100%"});

        
            var html_98c3fa4f68ef421ea79672a9fb7a391f = $(`<div id="html_98c3fa4f68ef421ea79672a9fb7a391f" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_4769bec36ab4499a86455df53d3bb9ec.setContent(html_98c3fa4f68ef421ea79672a9fb7a391f);
        

        poly_line_b25adbfbf8524179a0320359d6c1b646.bindPopup(popup_4769bec36ab4499a86455df53d3bb9ec)
        ;

        
    
    
            var poly_line_94b5da1bbfda403aae212a90acb1c3d0 = L.polyline(
                [[43.2964142, -0.3712928], [43.2961475, -0.3710878]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_70edad84efa049128e254bb188919268 = L.popup({"maxWidth": "100%"});

        
            var html_1dffc3e43c284c9eb72181718c057ab1 = $(`<div id="html_1dffc3e43c284c9eb72181718c057ab1" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_70edad84efa049128e254bb188919268.setContent(html_1dffc3e43c284c9eb72181718c057ab1);
        

        poly_line_94b5da1bbfda403aae212a90acb1c3d0.bindPopup(popup_70edad84efa049128e254bb188919268)
        ;

        
    
    
            var poly_line_a12c8ad2edb74b15831c9596db920c8b = L.polyline(
                [[43.2957533, -0.3705134], [43.2953835, -0.37047], [43.2951483, -0.3704836], [43.2945941, -0.3705484], [43.2944841, -0.3705586]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_697200f3845743f58344005291523916 = L.popup({"maxWidth": "100%"});

        
            var html_2eced052176f437b804dfec89e91fea4 = $(`<div id="html_2eced052176f437b804dfec89e91fea4" style="width: 100.0%; height: 100.0%;">"Rue Saint-Louis"</div>`)[0];
            popup_697200f3845743f58344005291523916.setContent(html_2eced052176f437b804dfec89e91fea4);
        

        poly_line_a12c8ad2edb74b15831c9596db920c8b.bindPopup(popup_697200f3845743f58344005291523916)
        ;

        
    
    
            var poly_line_1cf4bfb3284441c0874e499988244457 = L.polyline(
                [[43.2957267, -0.3706332], [43.2957533, -0.3705134]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_980d0b56d40f4ef89932b0af9b8e6859 = L.popup({"maxWidth": "100%"});

        
            var html_22c140199903425c8e3f8e8e499fc720 = $(`<div id="html_22c140199903425c8e3f8e8e499fc720" style="width: 100.0%; height: 100.0%;">"Rue du Mar\u00e9chal Joffre"</div>`)[0];
            popup_980d0b56d40f4ef89932b0af9b8e6859.setContent(html_22c140199903425c8e3f8e8e499fc720);
        

        poly_line_1cf4bfb3284441c0874e499988244457.bindPopup(popup_980d0b56d40f4ef89932b0af9b8e6859)
        ;

        
    
    
            var poly_line_6c2d232d4de14af4a883634c109d184a = L.polyline(
                [[43.2974021, -0.3719182], [43.2973813, -0.3719071], [43.2969784, -0.3716535]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_1ea9bc3eddcc44e69b4a115c24fcdc55 = L.popup({"maxWidth": "100%"});

        
            var html_3d8d23a70b2f470c8f3fd362054f5c61 = $(`<div id="html_3d8d23a70b2f470c8f3fd362054f5c61" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_1ea9bc3eddcc44e69b4a115c24fcdc55.setContent(html_3d8d23a70b2f470c8f3fd362054f5c61);
        

        poly_line_6c2d232d4de14af4a883634c109d184a.bindPopup(popup_1ea9bc3eddcc44e69b4a115c24fcdc55)
        ;

        
    
    
            var poly_line_a9c72020f952426da8cd2ac3ede4c5da = L.polyline(
                [[43.2969784, -0.3716535], [43.2969095, -0.3716101], [43.2967622, -0.371518]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_d80e207bfe754c448f23c7e3ae75de34 = L.popup({"maxWidth": "100%"});

        
            var html_0882ecfd10f94e908e38c336d99c16d6 = $(`<div id="html_0882ecfd10f94e908e38c336d99c16d6" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_d80e207bfe754c448f23c7e3ae75de34.setContent(html_0882ecfd10f94e908e38c336d99c16d6);
        

        poly_line_a9c72020f952426da8cd2ac3ede4c5da.bindPopup(popup_d80e207bfe754c448f23c7e3ae75de34)
        ;

        
    
    
            var poly_line_bdb4a02007634b12a75fc61512b3def7 = L.polyline(
                [[43.2967622, -0.371518], [43.2966359, -0.371443], [43.2964142, -0.3712928]],
                {"bubblingMouseEvents": true, "color": "#FF0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_7e9001d6441a4dbaac4f73b2865aadc4 = L.popup({"maxWidth": "100%"});

        
            var html_21577b6aab344a2fbdc43f15f41ec11e = $(`<div id="html_21577b6aab344a2fbdc43f15f41ec11e" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_7e9001d6441a4dbaac4f73b2865aadc4.setContent(html_21577b6aab344a2fbdc43f15f41ec11e);
        

        poly_line_bdb4a02007634b12a75fc61512b3def7.bindPopup(popup_7e9001d6441a4dbaac4f73b2865aadc4)
        ;

        
    
    
            map_6fccf3d431cc495895482f21b605fa1b.fitBounds(
                [[43.2944841, -0.3719182], [43.2974021, -0.37047]],
                {}
            );
        
    
            var poly_line_b610bac2564d4151898c3547d90e5165 = L.polyline(
                [[43.2961475, -0.3710878], [43.2957267, -0.3706332]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_21fc3484f6424139a9f67087151f3978 = L.popup({"maxWidth": "100%"});

        
            var html_bd52cff8b6b74765a93fdb057d9936d7 = $(`<div id="html_bd52cff8b6b74765a93fdb057d9936d7" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_21fc3484f6424139a9f67087151f3978.setContent(html_bd52cff8b6b74765a93fdb057d9936d7);
        

        poly_line_b610bac2564d4151898c3547d90e5165.bindPopup(popup_21fc3484f6424139a9f67087151f3978)
        ;

        
    
    
            var poly_line_dd3fa2d15e0145408f5d528bb01f1369 = L.polyline(
                [[43.2964142, -0.3712928], [43.2961475, -0.3710878]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_e124abe8c7a14846a64194b6111dc046 = L.popup({"maxWidth": "100%"});

        
            var html_b2ce5d18a7084a29be721712109f541f = $(`<div id="html_b2ce5d18a7084a29be721712109f541f" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_e124abe8c7a14846a64194b6111dc046.setContent(html_b2ce5d18a7084a29be721712109f541f);
        

        poly_line_dd3fa2d15e0145408f5d528bb01f1369.bindPopup(popup_e124abe8c7a14846a64194b6111dc046)
        ;

        
    
    
            var poly_line_a290f582534f4d55892aad7b94ed36ad = L.polyline(
                [[43.2957533, -0.3705134], [43.2953835, -0.37047], [43.2951483, -0.3704836], [43.2945941, -0.3705484], [43.2944841, -0.3705586]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_da1a79b6e9294c69a866dc4c620031ba = L.popup({"maxWidth": "100%"});

        
            var html_172652aaa4594a33a1f807103cfc61c1 = $(`<div id="html_172652aaa4594a33a1f807103cfc61c1" style="width: 100.0%; height: 100.0%;">"Rue Saint-Louis"</div>`)[0];
            popup_da1a79b6e9294c69a866dc4c620031ba.setContent(html_172652aaa4594a33a1f807103cfc61c1);
        

        poly_line_a290f582534f4d55892aad7b94ed36ad.bindPopup(popup_da1a79b6e9294c69a866dc4c620031ba)
        ;

        
    
    
            var poly_line_252776a71c7c42128caba1de059ea7e5 = L.polyline(
                [[43.2957267, -0.3706332], [43.2957533, -0.3705134]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_6e19b069c8a44f5e85c277a380738c7c = L.popup({"maxWidth": "100%"});

        
            var html_02bca9d8540b4bdd8aae6401eb3dd2df = $(`<div id="html_02bca9d8540b4bdd8aae6401eb3dd2df" style="width: 100.0%; height: 100.0%;">"Rue du Mar\u00e9chal Joffre"</div>`)[0];
            popup_6e19b069c8a44f5e85c277a380738c7c.setContent(html_02bca9d8540b4bdd8aae6401eb3dd2df);
        

        poly_line_252776a71c7c42128caba1de059ea7e5.bindPopup(popup_6e19b069c8a44f5e85c277a380738c7c)
        ;

        
    
    
            var poly_line_59af0a8bbfae49d0825f76e6034ad392 = L.polyline(
                [[43.2974021, -0.3719182], [43.2973813, -0.3719071], [43.2969784, -0.3716535]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_5b962b7320a240bcbf9c3f5c4174e23f = L.popup({"maxWidth": "100%"});

        
            var html_1dc25806bf72439ea1091251463284b2 = $(`<div id="html_1dc25806bf72439ea1091251463284b2" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_5b962b7320a240bcbf9c3f5c4174e23f.setContent(html_1dc25806bf72439ea1091251463284b2);
        

        poly_line_59af0a8bbfae49d0825f76e6034ad392.bindPopup(popup_5b962b7320a240bcbf9c3f5c4174e23f)
        ;

        
    
    
            var poly_line_fce136f2bf2e48d086fe21c182be40ac = L.polyline(
                [[43.2969784, -0.3716535], [43.2969095, -0.3716101], [43.2967622, -0.371518]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_a1b0058a94de4b2e8c0dd722273be3c4 = L.popup({"maxWidth": "100%"});

        
            var html_3ed1661a851e48e38bc5fe95c64e6131 = $(`<div id="html_3ed1661a851e48e38bc5fe95c64e6131" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_a1b0058a94de4b2e8c0dd722273be3c4.setContent(html_3ed1661a851e48e38bc5fe95c64e6131);
        

        poly_line_fce136f2bf2e48d086fe21c182be40ac.bindPopup(popup_a1b0058a94de4b2e8c0dd722273be3c4)
        ;

        
    
    
            var poly_line_163016e4192d4764a3828f13050fd8d6 = L.polyline(
                [[43.2967622, -0.371518], [43.2966359, -0.371443], [43.2964142, -0.3712928]],
                {"bubblingMouseEvents": true, "color": "#FF8C00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FF8C00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_5a9332230aaf4979b9025a9edf700975 = L.popup({"maxWidth": "100%"});

        
            var html_13e863927e8c40718c3aae2623c3269c = $(`<div id="html_13e863927e8c40718c3aae2623c3269c" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_5a9332230aaf4979b9025a9edf700975.setContent(html_13e863927e8c40718c3aae2623c3269c);
        

        poly_line_163016e4192d4764a3828f13050fd8d6.bindPopup(popup_5a9332230aaf4979b9025a9edf700975)
        ;

        
    
    
            map_6fccf3d431cc495895482f21b605fa1b.fitBounds(
                [[43.2944841, -0.3719182], [43.2974021, -0.37047]],
                {}
            );
        
    
            var poly_line_9258745eacad45e59036275509f2ecf4 = L.polyline(
                [[43.2961475, -0.3710878], [43.2957267, -0.3706332]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_ce1ed4d42d63463c99aea742698b6404 = L.popup({"maxWidth": "100%"});

        
            var html_f9bd9619bab348118b85e1945d9a7c79 = $(`<div id="html_f9bd9619bab348118b85e1945d9a7c79" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_ce1ed4d42d63463c99aea742698b6404.setContent(html_f9bd9619bab348118b85e1945d9a7c79);
        

        poly_line_9258745eacad45e59036275509f2ecf4.bindPopup(popup_ce1ed4d42d63463c99aea742698b6404)
        ;

        
    
    
            var poly_line_ed45b51c51774384877f25a286f9da32 = L.polyline(
                [[43.2964142, -0.3712928], [43.2961475, -0.3710878]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_7aee72501ec94ee883d7c9ba359ecd02 = L.popup({"maxWidth": "100%"});

        
            var html_66fce15f1ef6407c88403093abc34f3e = $(`<div id="html_66fce15f1ef6407c88403093abc34f3e" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_7aee72501ec94ee883d7c9ba359ecd02.setContent(html_66fce15f1ef6407c88403093abc34f3e);
        

        poly_line_ed45b51c51774384877f25a286f9da32.bindPopup(popup_7aee72501ec94ee883d7c9ba359ecd02)
        ;

        
    
    
            var poly_line_5335e3f6bddb49aa9d879924fcd1fe6b = L.polyline(
                [[43.2957533, -0.3705134], [43.2953835, -0.37047], [43.2951483, -0.3704836], [43.2945941, -0.3705484], [43.2944841, -0.3705586]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_1e06bbeee8df43b9a9a7e26bd85d619f = L.popup({"maxWidth": "100%"});

        
            var html_eb636d4d51ce4bde8076e5a0a0219d25 = $(`<div id="html_eb636d4d51ce4bde8076e5a0a0219d25" style="width: 100.0%; height: 100.0%;">"Rue Saint-Louis"</div>`)[0];
            popup_1e06bbeee8df43b9a9a7e26bd85d619f.setContent(html_eb636d4d51ce4bde8076e5a0a0219d25);
        

        poly_line_5335e3f6bddb49aa9d879924fcd1fe6b.bindPopup(popup_1e06bbeee8df43b9a9a7e26bd85d619f)
        ;

        
    
    
            var poly_line_0c52f5916059479882ed7db0831a7cf9 = L.polyline(
                [[43.2957267, -0.3706332], [43.2957533, -0.3705134]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_501e1366bb77474e949244638c7eb099 = L.popup({"maxWidth": "100%"});

        
            var html_1f266d5419b242509b101870777326cf = $(`<div id="html_1f266d5419b242509b101870777326cf" style="width: 100.0%; height: 100.0%;">"Rue du Mar\u00e9chal Joffre"</div>`)[0];
            popup_501e1366bb77474e949244638c7eb099.setContent(html_1f266d5419b242509b101870777326cf);
        

        poly_line_0c52f5916059479882ed7db0831a7cf9.bindPopup(popup_501e1366bb77474e949244638c7eb099)
        ;

        
    
    
            var poly_line_8017d01867294392a08492701b70551e = L.polyline(
                [[43.2974021, -0.3719182], [43.2973813, -0.3719071], [43.2969784, -0.3716535]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_922c335ad86c48ec9986b92974e98e1c = L.popup({"maxWidth": "100%"});

        
            var html_a35613a0c7794af4a4d11844e53a07b9 = $(`<div id="html_a35613a0c7794af4a4d11844e53a07b9" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_922c335ad86c48ec9986b92974e98e1c.setContent(html_a35613a0c7794af4a4d11844e53a07b9);
        

        poly_line_8017d01867294392a08492701b70551e.bindPopup(popup_922c335ad86c48ec9986b92974e98e1c)
        ;

        
    
    
            var poly_line_aac6a5fb697b4e22982a7116872a153f = L.polyline(
                [[43.2969784, -0.3716535], [43.2969095, -0.3716101], [43.2967622, -0.371518]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_9f7581e421534c61b7e64fa49f10eaae = L.popup({"maxWidth": "100%"});

        
            var html_f649ffa1ac834d6a8edf57ba8a66f22a = $(`<div id="html_f649ffa1ac834d6a8edf57ba8a66f22a" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_9f7581e421534c61b7e64fa49f10eaae.setContent(html_f649ffa1ac834d6a8edf57ba8a66f22a);
        

        poly_line_aac6a5fb697b4e22982a7116872a153f.bindPopup(popup_9f7581e421534c61b7e64fa49f10eaae)
        ;

        
    
    
            var poly_line_21166a82310540b99a187564c37f1136 = L.polyline(
                [[43.2967622, -0.371518], [43.2966359, -0.371443], [43.2964142, -0.3712928]],
                {"bubblingMouseEvents": true, "color": "#7CFF00", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7CFF00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6fccf3d431cc495895482f21b605fa1b);
        
    
        var popup_30b113ab2a554e069a1d9a004333a15a = L.popup({"maxWidth": "100%"});

        
            var html_83303ea88df1428ba17d2f2259fe65f4 = $(`<div id="html_83303ea88df1428ba17d2f2259fe65f4" style="width: 100.0%; height: 100.0%;">"Rue des Cordeliers"</div>`)[0];
            popup_30b113ab2a554e069a1d9a004333a15a.setContent(html_83303ea88df1428ba17d2f2259fe65f4);
        

        poly_line_21166a82310540b99a187564c37f1136.bindPopup(popup_30b113ab2a554e069a1d9a004333a15a)
        ;

        
    
    
            map_6fccf3d431cc495895482f21b605fa1b.fitBounds(
                [[43.2944841, -0.3719182], [43.2974021, -0.37047]],
                {}
            );
        
 </script> {% endblock %}
        