.carte {
    width 95%;height: 70%;margin: 0;padding: 0; border:2px solid black;
}
.ui-autocomplete
    {
        position:relative;
        cursor:default;
        z-index:9999 !important;
    }


/* nav{ */
/*     text-align:center;border:2px solid lightblue */
/* } */
/* nav ul{ */
/*     padding:0; */
/*     margin:auto; */
/*     list-style-type:none; */
/*     text-align:center; */
/* } */
/* nav li { */
/*     margin-left:5px; */
/*     float:left; /\*pour IE*\/ */
/* } */
/* nav ul li ul{ */
/*     display:none */
/* } */
/* nav ul li:hover ul { /\*Au survol d’un élément du menu par la souris*\/ */
/*     display:block; */
/* } */
/* nav li:hover ul li { */
/*     float:none; /\*Annuler le float left du menu principal pour remettre un vertical*\/ */
/* } */
/* nav li ul{ */
/*     position : absolute; */
/*     background-color:white; */
/*     box-shadow:1px 2px 3px #CCC */
/* } */
/* nav li a:hover { /\*Changer la couleur quand la souris passe*\/ */
/*     color:#FFD700; */
/* } */
